.header {
	padding: 30px 0;
}

.header__title {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

.form .form__starter:hover {
	background-color: #906d06 !important;
	cursor: pointer;
}
