.logo {
  flex-grow: 7;
}

.logo-image {
  max-width: 6vw;
  height: calc(7vh - 2px);
  position: absolute;
  top: 6px;
  left: 22px;
  border-radius: 30px;
}

.logo-title {
  max-width: 23%;
  background-color: #534f4f;
}

.logo-text {
  color: #ffffff;
  text-align: right;
  padding: 6px;
}
